*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto Slab', serif;
}

body{
    box-sizing: inherit;
    font-family: inherit;
    overflow-x: hidden;
}

input,button,::before,::after{
    font-family: inherit;
}

.header{
    background-color: #111111;
    height: 5rem;
    color: #efefef;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    &__logo{
        font-size: 2.5rem;
        font-weight: 300;
        cursor: pointer;
    }

    &__group{

        &-buttons{
            border: none;
            background-color: #666;
            padding: .8rem 2rem;
            border-radius: 2px;
            cursor: pointer;
            font-weight: 400;
            color: #efefef;

            &:focus{
                outline-color: #999;
            }

            &:hover{
                background-color: #666;
            }

            &--active {
                background-color: #444;
            }
            
            &--play{
                background-color: #3498db;

                &:hover{         
                background-color: #2980b9;
                }
            }
        }
    }
}

.main{
    
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(250px, 1fr) );
    &__textarea{
        font-family: 'Roboto Mono', monospace;
        resize: none;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right-color: #2e2e2e;
        padding: 2rem 2rem;
        background-color: #191919;
        font-size: 1.5rem;
        color: #fff;

        &:focus{
            outline: none;
        }

        &-hidden{
            display: none;
        }
    }

    &__iframe{
        height: 92.5vh;
        border:none;
        padding: 0 2rem;
    }
}

.navbar{
    display: block;
    background-color: #111111;
    width: 100vw;
    padding: 2rem 1rem;
    p{
        font-size: 1.5rem;
        text-align: center;
        color: #efefef;
        cursor: default;
    }
}